@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googlepis.com/css2?family=poppins&family=ubuntu:wgt@300;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:#fff;
    font-family: 'Press Start 2P', cursive;
}

body{
    color: #f5f7ff;
    background: #000000;
    line-height: 1.5;
    text-align: center;
border: 27px groove #071c77f0;
border-radius: 40px 40px 0px 0px;
font-family: 'Press Start 2P', cursive;
}

    

a{
    font-family: Arial, Helvetica, sans-serif 20px;
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted #906bcc;
    border-radius: 40px 40px 40px 40px;   
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    

}
img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid rgb(221, 220, 250);

}
h1{
    font-family: Arial, Helvetica, sans-serif 20px;
    color: white;
    border-top: 1px dotted #FFFFFF;
    border-bottom: 1px dotted #3c60fc;
    border-radius: 40px 40px 40px 40px;
}

h2{
    font-family: Arial, Helvetica, sans-serif 35px;
    color: #3c60fc;

}

h4{

    font-family: Arial, Helvetica, sans-serif 20px;
    color: green;

}

h3{
    font-family: Arial, Helvetica, sans-serif 20px;
    color: rgb(229, 245, 229);

}

h5{

    font-family: Arial, Helvetica, sans-serif 20px;
    color: green;
}

h6{
    font-family: Arial, Helvetica, sans-serif 20px;
    color: rgb(226, 241, 226);
}



p{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:sans-serif;
    border-bottom: 1px dotted #eb232367;
    border-radius: 40px 40px 40px 40px;
}
section{
    font-family: Arial, Helvetica, sans-serif 20px;
    color: rgb(0, 0, 0);
    border-top: 1px dotted #FFFFFF;
    border-bottom: 1px dotted #465bb5;
    border-radius: 40px 40px 40px 40px;
    background-color: #0e0328;
}


/*classes*/

.center{
    text-align: center;
}

.demoparagraph {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    -webkit-column-rule: 1px solid rgba(235,248,255,0.94);
    -moz-column-rule: 1px solid rgba(235,248,255,0.94);
    column-rule: 1px solid rgba(235,248,255,0.94);
    }
    
   .footer {
    display: -moz-deck ;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: initial;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(243, 243, 249);
    image-orientation: flip;

   }

   .prim{

    font-family: Arial, Helvetica, sans-serif 20px;
    color: white;
    border-top: 1px dotted #FFFFFF;
    border-bottom: 1px dotted #3c60fc;
    border-radius: 40px 40px 40px 40px;
   }
   .jogo{
    background-color: rgb(24, 19, 2);
    width: 640px;
    height: 480px;

   }
   

  canvas {
    display: absolute;
    width: 125px;
    height: 125px;
    border-radius: 5%;
    border: 5px flex rgb(231, 231, 245)
  }





 
  
 

footer a {
    text-decoration: none;
    color: #ebe6f3;
}